<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>about me</title>
	<link rel = "stylesheet" href = "{%static 'css/style_about.css'%}">
</head>
<body>
<div class="container">
  <div class="card">
    <div class="front">
      <div class="logo"><span></span></div>
    </div>
    {% for i in about %}
    <div class="back">
      <h1>{{i.name}}<span>{{i.job}}</span></h1>
      <ul>
        <li>{{i.phone}}</li>
        <li>{{i.email}}</li>
        <li>{{i.site}}</li>
        </ul>
    </div>
    {% endfor %}
    </div>
  </div>
</body>
</html>