<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>post car</title>
</head>
<body>
<center>
    <a href="" class="floating-button">Home</a>
    <a href="/about_me/" class="floating-button">About US</a>
    <a href="/hello/" class="floating-button">Contact</a>
    <a href="/admin/" class="floating-button">Go Admin</a>


    <h1>Наши посты</h1>
    {% for i in car %}
    <br><br><br>
        <div class="card">
  <img src="{{i.image.url}}" alt="Avatar" style="width:30%">
  <div class="container">
    <h4><b>{{i.title}}</b></h4>
    <p>{{i.description}}</p>
      <p>{{i.color}}</p>
       <p>
            {{i.created_year}}
        </p>
       <p>{{i.ratings}}</p>
  </div>
</div>

    {% endfor %}
</center>
</body>
</html>